<ul>
  <li *ngFor="let employee of employees">{{employee.name}}</li>
</ul>

<!-- <h1>{{employeeFullName}}</h1>
<ul>
  <li class="employee characteristic-1">{{theEmployee.name}}</li>
  <li class="employee characteristic-2">{{theEmployee.surname}}</li>
  <li class="employee characteristic-3">{{theEmployee.salary}}</li>
  <li class="employee characteristic-4">{{theEmployee.calculateSalaryWithTaxes(1.21)}}</li>
</ul> -->

<button (click)="switchList()">Show/Hide the list</button>

<ul *ngIf="showList">
  <li class="test1 test">hola 1</li>
  <li class="test2 test">hola 2</li>
  <li class="test3 test">hola 3</li>
  <li class="test4 test">hola 4</li>
</ul>